$o-icons-palette: (
	'i-social-wechat': #609700,
	'i-social-weibo': #e6162d,
	'i-social-linkedin': #0977b6,
	'i-social-facebook': #3c5a99,
	'i-social-twitter': #6aa9e0,
	'i-rss': #FB9E3C,
);

$o-icons-usecases: (
	'icon-wechat': (background: 'i-social-wechat'),
	'icon-weibo': (background: 'i-social-weibo'),
	'icon-linkedin': (background: 'i-social-linkedin'),
	'icon-facebook': (background: 'i-social-facebook'),
	'icon-twitter': (background: 'i-social-twitter'),
	'icon-rss': (background: 'i-rss'),
);

$o-colors-palette: map-merge($o-icons-palette, $o-colors-palette);
$o-colors-usecases: map-merge($o-icons-usecases, $o-colors-palette);