.no-svg .icon {
	background-size: auto auto;
}
.no-svg .icon-social-linkedin-bg {
  background-image: url(../icons/icons.sprite.png);
  background-position: 0px 0px;
}
.no-svg .icon-social-linkedin {
  background-image: url(../icons/icons.sprite.png);
  background-position: 0px -36px;
}
.no-svg .icon-social-wechat-bg {
  background-image: url(../icons/icons.sprite.png);
  background-position: 0px -72px;
}
.no-svg .icon-social-wechat {
  background-image: url(../icons/icons.sprite.png);
  background-position: 0px -108px;
}
.no-svg .icon-social-weibo-bg {
  background-image: url(../icons/icons.sprite.png);
  background-position: 0px -144px;
}
.no-svg .icon-social-weibo {
  background-image: url(../icons/icons.sprite.png);
  background-position: 0px -180px;
}
