@import "o-colors/main";
@import "icon-list.scss";

body {
	@include oColorsFor(page);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		width: 180px;
		margin: 0 0 20px;
		text-align: center;
		svg {
			width: 100px;
			height: 100px;
		}
		span {
			display: block;
		}
	}
}

@each $icon in $icon-list {
	.#{$icon} {
		svg {
			fill: rgb(random(256) - 1, random(256) - 1, random(256) - 1);
		}
	}
}
