@import "o-colors/main";

body {
	@include oColorsFor(page);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		width: 180px;
		margin: 0 0 20px;
		text-align: center;
		svg {
			width: 100px;
			height: 100px;
			fill: #000;
		}
		span {
			display: block;
		}
	}
}

// .o-icons__embedded-symbol {
// 	@each $icon in $o-icons-list {
// 		.#{$icon} {
// 			svg {
// 				fill: rgb(random(256) - 1, random(256) - 1, random(256) - 1);
// 			}
// 		}
// 	}
// }
