<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="FT中文网">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
    <link href="/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <title>FTC Icons Demo</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

<h1>
  <svg class="ftc-logo-square">
    <use xlink:href="sprite/ftc-icons-symbol.svg#brand-ftc" />
  </svg>
  <svg class="ftc-logo-masthead">
    <use xlink:href="sprite/ftc-icons-symbol.svg#brand-ftc-masthead" />
  </svg>

</h1>
<p>Source: <a href="https://github.com/FTChinese/ftc-icons">https://github.com/FTChinese/ftc-icons</a></p>
<section>
  <h2>SVG Symbol Sprite</h2>
  <p>Colors are randomly generated by sass. A demo to show the flexibility of SVG Symbol</p>
  <ul class="ftc-symbol-sprite">
    {{#ftcicons}}
      <li>
        <i class="{{.}}"><svg><use xlink:href="sprite/ftc-icons-symbol.svg#{{.}}" /></svg></i>
        <span>{{.}}</span>
      </li>
    {{/ftcicons}}
    {{#socialicons}}
      <li>
        <i class="{{.}}"><svg><use xlink:href="sprite/ftc-icons-symbol.svg#{{.}}" /></svg></i>
        <span>{{.}}</span>
      </li>
    {{/socialicons}}
  </ul> 


  <h2>FTC Icons Used as Background</h2>
  <p>`sassvg` removes all `fill` attributes on svg elements, rendering inlined svg data uri with browser's default black color.</p> 
  <p>You can pass in a color parameter to `sassvg(iconname, $fillcolor: you-favorite-color)` to render it in whatever color you like.</p>
  <p>Since `sassvg` indiscrimitely removes all `fill` attributes on all elements, you cannot have more than one path in the source svg.</p>
  <ul class="ftc-icons">
  {{#ftcicons}}
    <li>
      <i class="{{.}}"></i>
      <span>{{.}}</span>
    </li>
  {{/ftcicons}}
  {{#socialicons}}
    <li>
      <i class="{{.}}"></i>
      <span>{{.}}</span>
    </li>
  {{/socialicons}}
  </ul>

  <h2>FTC icons used as image src</h2>
  <ul class="ftc-icons">
  {{#ftcicons}}
    <li>
      <img src="svg/{{.}}.svg" />
      <span>{{.}}</span>
    </li>
  {{/ftcicons}}
  {{#socialicons}}
    <li>
      <img src="svg/{{.}}.svg" />
      <span>{{.}}</span>
    </li>
  {{/socialicons}}
  </ul>


</section>



  </body>
</html>
