<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="FT中文网">
    <meta name="robots" content="nofollow">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <title>FTC Icons Demo</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="bower_components/svg4everybody/dist/svg4everybody.legacy.js"></script>
  </head>
  <body>
<section>
  <header class="header">
    <h1>
      <a class="header-logo" href="http://www.ftchinese.com/" alt="FT中文网" title="FT中文网">
        <img src="svg/brand-ftc.svg" class="brand-ftc">
      </a>
      <img src="svg/brand-ftc-masthead.svg" class="brand-ftc-masthead">
    </h1>
  </header>

  <h2>FTC icons used as image src</h2>
  <div class="ftc-icons">
    <img class="a" src="svg/social-linkedin-alt.svg">
    <img class="a" src="svg/social-wechat-alt.svg">
    <img class="a" src="svg/social-weibo-alt.svg">
    <img class="a" src="svg/social-facebook-alt.svg">
    
    <img class="a" src="svg/social-twitter-alt.svg">
    <img class="a" src="svg/social-email-alt.svg">
    <img class="b" src="svg/social-linkedin.svg">
    <img class="b" src="svg/social-wechat.svg">
    <img class="b" src="svg/social-weibo.svg">
    <img class="b" src="svg/social-facebook.svg">
    <img class="b" src="svg/social-twitter.svg">
    <img class="b" src="svg/social-email.svg">
  </div>

  <h2>FTC Icons Used as Background</h2>
  <p>All elements have similar rules as below. Black is the default gulp-sassvg generated color. You can change it into any color needed. See the "FT Icons as backgrounds" section. Colors were randomly generated by sass.
<pre>
<code>
.className {
  background-image: sassvg([icon-file-name]);
  &:hover {
    background-image: $[icon-file-name];
  }
}        
</code>          
</pre>
  </p>

  <ul class="ftc-icons">
    <li><i class="social-linkedin-alt"></i></li>
    <li><i class="social-linkedin"></i></li>
    <li><i class="social-wechat-alt"></i></li>
    <li><i class="social-wechat"></i></li>
    <li><i class="social-weibo-alt"></i></li>
    <li><i class="social-weibo"></i></li>
    <li><i class="social-facebook-alt"></i></li>
    <li><i class="social-facebook"></i></li>
    <li><i class="social-twitter-alt"></i></li>
    <li><i class="social-twitter"></i></li>
  </ul>


  <h2>FT Icons as backgrounds</h2>
  <ul class="ft-icons">
  {{#fticons}}
    <li>
      <i class="icon {{.}}"></i>
      <span>{{.}}</span>
    </li>
  {{/fticons}}
  </ul>


  <h2>FT Icons as img src</h2>
  <ul class="ft-icons">
  {{#fticons}}
    <li>
      <img src="ftsvg/{{.}}.svg" />
      <span>{{.}}</span>
    </li>
  {{/fticons}}
  </ul>
</section>


<script type="text/javascript">
  svg4everybody();
</script>
  </body>
</html>
