<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="FT中文网">
    <meta name="robots" content="nofollow">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <title>FTC Icons Demo</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

  <header class="header">
    <h1>
      <a class="header-logo" href="http://www.ftchinese.com/" alt="FT中文网" title="FT中文网">
        <img src="svg/brand-ftc-masthead.svg" class="brand-ftc-masthead">
      </a>
    </h1>
  </header>

<section>
  <h2>FTC Icons Used as Background</h2>

  <ul class="ftc-icons">
  {{#ftcicons}}
    <li>
      <i class="{{.}}"></i>
    </li>
  {{/ftcicons}}
  </ul>

  <h2>FTC icons used as image src</h2>
  <ul class="ftc-icons">
  {{#ftcicons}}
    <li>
      <img src="svg/{{.}}.svg" />
    </li>
  {{/ftcicons}}
  </ul>


  <h2>FT Icons as backgrounds</h2>
  <ul class="ft-icons">
  {{#fticons}}
    <li>
      <i class="icon {{.}}"></i>
      <span>{{.}}</span>
    </li>
  {{/fticons}}
  </ul>


  <h2>FT Icons as img src</h2>
  <ul class="ft-icons">
  {{#fticons}}
    <li>
      <img src="ftsvg/{{.}}.svg" />
      <span>{{.}}</span>
    </li>
  {{/fticons}}
  </ul>
</section>


  </body>
</html>
