@import "../main";

@import "variables";

@import "ftc-svg-data";

@import "functions";

@import "sassvg";

/* Some color variables */
$ftpink:#FFCC99;

$ftc-share-icon-colors: (
	wechat: #609700, 
	weibo: #FFD12B, 
	linedin: #0977b6, 
	facebook: #3c5a99, 
	twitter:#6aa9e0
);

.header {
	a {
		display: inline-block;
		text-decoration: none;
	}
}

.ftc-logo-masthead {
	height: 64px;
	width: 300px;
}
.ftc-logo-square {
	height: 100px;
	width: 100px;
	background-color: $ftpink;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		width: 180px;
		margin: 0 0 20px;
		text-align: center;
		i, img {
			display: inline-block;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			border: 1px dotted #333;
			width: 100px;
			height: 100px;
		}
		i {
			svg {
				width: 100px;
				height: 100px;
			}
		}
		span {
			display: block;
		}
	}	
}

$ftc-list: sassvg-list("src");
.ftc-symbol-sprite {
	@each $icon in $ftc-list {
		.#{$icon} {
			svg {
				fill: rgb(random(256) - 1, random(256) - 1, random(256) - 1);
			}
		}
	}
}
.ftc-icons {
	@each $icon in $ftc-list {
		.#{$icon} {
			background-image: sassvg($icon);
		}
		.#{$icon}:hover {
			background-image: oIconsGetSvgDatauri($icon);
		}
	}
}

$ft-list: sassvg-list("svg");
.ft-icons {
	@each $icon in $ft-list {
		$c1: random(256) - 1;
		$c2: random(256) - 1;
		$c3: random(256) - 1;
		.#{$icon} {
			background-image: sassvg($icon, $fillcolor:rgb($c1, $c2, $c3));
		}
		.#{$icon}:hover {
			background-image: sassvg($icon, $fillcolor:rgb($c2, $c3, $c1));
		}
	}	
}






