@import "../main";

/* Some color variables */
$icon-color-ftpink:#FFCC99;

$ftc-share-icon-list: (
	wechat: #609700, 
	weibo: #FFD12B, 
	linedin: #0977b6, 
	facebook: #3c5a99, 
	twitter:#6aa9e0
);

body {
	font-family: "Times New Roman";
}

.header {
	a {
		display: inline-block;
		text-decoration: none;
	}
}

.brand-ftc {
	background-color: $icon-color-ftpink;
}
h2 {
	border-bottom: 1px solid #999;
}

$ftc-list: sassvg-list("src");
.ftc-icons {
	list-style-type: none;
	li {
		display: inline-block;
		margin-bottom: 1em;
		margin-right: 1em;
		i {
			display: inline-block;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100px;
			height: 100px;
		}
	}
	@each $icon in $ftc-list {
		.#{$icon} {
			background-image: sassvg($icon);
		}
		.#{$icon}:hover {
			background-image: ftcIconGetData($icon);
		}
	}
}

$ft-list: sassvg-list("svg");
.ft-icons {
	list-style-type: none;
	li {
		display: inline-block;
		margin-bottom: 1em;
		margin-right: 1em;
	}
	span {
		display: block;
		text-align: center;
	}
	.icon {
		background-position: left top;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		margin: 1em;
		width: 100px;
		height: 100px;
	}
	@each $icon in $ft-list {
		$c1: random(256) - 1;
		$c2: random(256) - 1;
		$c3: random(256) - 1;
		.#{$icon} {
			background-image: sassvg($icon, $fillcolor:rgb($c1, $c2, $c3));
		}
		.#{$icon}:hover {
			background-image: sassvg($icon, $fillcolor:rgb($c2, $c3, $c1));
		}
	}	
}




